
.white_btn,
.green_btn{
    border: none;
    outline: none;
    padding: 12px 8px;
    background: linear-gradient(to right,#2dcd4b,#0eaa4a);
    border-radius: 20px;
    width: 200px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    color: white;
}

.green_btn{
    background: linear-gradient(to right,#ff2b2b,#ff416c);
    color: white;
    width: 200px;
}
