.signup_container{
    width: 100%;
    min-height: 100vh;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.signup_form_container{
    width: 1100px;
    height: 700px;
    display: flex;

}

.left{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right,#ff4b2b,#ff416c);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.left h1 {
    margin-top: 0;
    color: white;
    font-size: 48px;
    align-self: center;
}

.left p {
    margin-top: 0;
    color: rgb(234, 225, 225);
    font-size: 18px;
    align-self: center;
    padding: 15px;
    width: 400px;

}

.right{
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.form_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.form_container h1{
    font-size: 54px;
    margin-top: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input{
    outline:  none;
    border: none;
    width: 500px;
    padding: 15px;
    border-radius: 10px;
    background-color: #edf5f3;
    margin: 5px;
    font-size: 20px;
    justify-content: center;

}

.error_msg{
    width: 370px;
    padding: 15px;
    margin: 5px 0;
    font-size: 14;
    background-color: #f34646;
    color: white;
    border-radius: 5px;
    text-align: center;
}

.white_btn,
.green_btn{
    border: none;
    outline: none;
    padding: 8px 0px;
    background-color: white;
    border-radius: 25px;
    width: 180px;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
}

.green_btn{
    background: linear-gradient(to right,#ff4b2b,#ff416c);
    color: white;
    margin: 10px;
}

.blue_btn {
    border: none;
    color: rgb(203, 84, 84);
    padding: 8px  ;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    width: 250px ;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    text-decoration: none; 
}

.slach{
    color: rgba(94, 59, 59, 0);

}